# Virtual environment
backend/venv/
backend/__pycache__/

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Environment variables
.env
*.pt
*.pth
backend/sam_vit_b_01ec64.pth
backend/mobilenet_classification_model.h5
backend/.cache
backend/uv.lock
backend/uv.toml
backend/.python-version
backend/pyproject.toml